@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

.app,
.app_modal,
.app_drawer {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--mutedDark);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--dark1);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
}

body{
  background: #eceaea;
  height: calc(100vh - 60px);
  min-height: calc(100vh - 60px) !important;
}

#root{
  height: 100%;
  position: fixed;
}


.react-dadata__container{
  width: 100%;
}
