.FieldsForLogin{
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0 20px;
}

.input{
  margin-bottom: 10px !important;
  max-width: 400px;
}