.Navbar{
  border-top: 1px solid var(--mutedDark);
  padding: 0 20px;
}

.Button{
  flex: 1;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  &:hover{
    transform: scale(1.1);
  }
}

.active{
  border-top: 2px solid var(--blue);
  color: #2b6cb0;
  height: 100%;
}
