.App {
  text-align: center;
}

.map-container{
  display: flex;
  width: auto;
  margin: 0 auto;
  margin-left: 150px;
}

.form{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  margin: 100px auto;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.row{
  width: 100%;
  padding-bottom: 20px;
}

.pr10{
  margin-right: 10px !important;
}

.dialog{
    position: absolute;
    width: 300px;
    border: 1px solid rgb(215 213 213);
    border-radius: 4px;
    background-color: #fff;
    margin: 50px;
    padding: 20px 0 20px 0;
}